.collection-card {
  width: 300px;
  height: 500px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
}

.collection-card > img {
  width: 100%;
}

.details{
    padding: 20px;
}

.name .id{
    color: #a1a5b0;
    font-weight: 600;
}

.price-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    object-fit: contain;
}

.weth-image {
  width: 15px;
  height: 23px;
  margin-right: 5px;
}
